<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <h1>Победа! :)</h1>
    <div id="finishData">
        <label id="finishLabel"></label><br>
        <script>document.getElementById('finishLabel').innerHTML = document.cookie.split("=")[1] + ', вы прошли игру'</script>
        <label>за </label><label id="finishMoves"></label><label id="moves"> ходов</label><br>
        <script>const moves = localStorage.getItem('moves');
            document.getElementById('finishMoves').innerHTML = moves;
            if (moves % 10 === 1){
                document.getElementById('moves').innerHTML = 'ход';
            } else if (moves % 10 === 2 || moves % 10 === 3 || moves % 10 === 4){
                document.getElementById('moves').innerHTML = 'хода';
            } else {
                document.getElementById('moves').innerHTML = 'ходов';
            }</script>
        <label>со счётом </label><label id="finishScore"></label><label> очков</label>
        <script>document.getElementById('finishScore').innerHTML = localStorage.getItem('score')</script>
    </div>
    <button id="gameStartButton">Начать заново</button>
    <button id="toChooseModeButton">Поменять колоду</button>
</div>
<script src="js/restartGame.js"></script>
</body>
</html>