<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
    <button id="backButton">Назад</button>
    <div class="gameProgress">
            <div class="score">
                <label>Очки: </label><label id="scoreValue">0</label>
            </div>
            <div>
                <label>Сделано ходов: </label><label id="movesValue">0</label>
            </div>
            <div class="timer">
                <label>Время: </label><label id="timeLeft">0</label>
            </div>
    </div>
    <div class="board"></div>

<script src="js/indexGame.js"></script>
</body>
</html>