<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>

<div class="field">
    <div class="gameProgress">
            <div class="score">
                <label>Очки: </label><label id="scoreValue">0</label>
            </div>
            <div>
                <label>Сделано ходов: </label><label id="movesValue">0</label>
            </div>
            <div class="timer">
                <label>Время: </label><label id="timeLeft">0</label>
            </div>
    </div>
    <div class="board">
<!--        <div class="memoryCard" tabindex="0" id="0">-->
<!--            <img class="openedCardImg" src="images/open1.jpg" alt="open">-->
<!--            <img class="closedCardImg"-->
<!--                 src="images/closed.jpg"-->
<!--                 alt="closed">-->
<!--        </div>-->
    </div>

</div>
<script src="js/indexGame.js"></script>
</body>
</html>