<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memo Meme</title>
  <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <h1 id="finishLabel">Время вышло :(</h1>
    <button id="gameStartButton">Начать заново</button>
</div>
<script src="/js/startGame.js"></script>
</body>
</html>