<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memo Meme</title>
  <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <h1>Время вышло :(</h1>
    <div id="finishData">
        <label id="finishLabel"></label><br>
        <script>document.getElementById('finishLabel').innerHTML = 'Но не расстраивайтесь, ' + document.cookie.split("=")[1] + '!'</script>
        <label>Вы сделали </label><label id="finishScore"></label><label> ходов</label><br>
        <script>document.getElementById('finishScore').innerHTML = localStorage.getItem('moves')</script>
        <label>И получили </label><label id="finishMoves"></label><label> очков</label>
        <script>document.getElementById('finishMoves').innerHTML = localStorage.getItem('score')</script>
    </div>

    <button id="gameStartButton">Начать заново</button>
    <button id="toChooseModeButton">Поменять колоду</button>
</div>
<script src="/js/restartGame.js"></script>
</body>
</html>