<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <label for="number">Количество карт (2-16):</label>
    <input type="number" id="cardsCount" name="cardsCount" min="2" max="16">
    <button id="defaultModeButton">Базовый набор карт</button>
    <button id="customModeButton">Создать свою колоду</button>
</div>
<script src="js/chooseMode.js"></script>
</body>
</html>