<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<button id="backButton">Назад</button>
<div class="menu">
    <div id="cardsCountDiv">
        <label for="number">Выберите количество карт на поле</label>
        <select id="cardsCount" name="cardsCount" class="formField">
            <option value="8">8</option>
            <option value="12" selected>12</option>
            <option value="16">16</option>
            <option value="20">20</option>
            <option value="24">24</option>
        </select>
    </div>
    <div id="modeDiv">
        <label for="number">Выберите режим игры</label>
        <button id="defaultModeButton">Базовый набор карт</button>
        <button id="customModeButton">Создать свою колоду</button>
    </div>
</div>
<script src="js/chooseMode.js"></script>
</body>
</html>