<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <p id="errorMessage" class="formField">Количество карт должно быть чётным</p>
    <div id="cardsCountDiv">
        <label for="number">Выберите количество карт на поле</label>
        <input type="number" id="cardsCount" name="cardsCount" class="formField" min="2" max="16" value="12">
    </div>
    <div id="modeDiv">
        <label for="number">Выберите режим игры</label>
        <button id="defaultModeButton">Базовый набор карт</button>
        <button id="customModeButton">Создать свою колоду</button>
    </div>
</div>
<script src="js/chooseMode.js"></script>
</body>
</html>