<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<div class="menu">
    <label id="uploadMessage" class="formField">Загрузите изображения для карт</label>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="uploadFiles">
        <div class="form-group">
            <div class="uploadLabel">
            <i class="material-icons">attach_file</i>
            <span class="title">Добавить файл</span>
            <input type="file" name="images" id="images" class="formField" accept=".jpg, .jpeg, .png" multiple>
            </div>
        </div>
    </div>

<!--    <input type="file" name="images" id="images" class="formField" accept=".jpg, .jpeg, .png" multiple>-->


    <button id="gameStartButton" class="formField">Сохранить и начать игру</button>
</div>
<script src="js/uploadCards.js"></script>
</body>
</html>
