<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Meme</title>
    <link rel="stylesheet" href="css/indexGame.css">
</head>
<body>
<button id="backButton">Назад</button>
<div class="menu">
    <div class="help" id="uploadHelp">
        <span>
            <label id="uploadMessage" class="formField">Загрузите изображения для карт</label>
            <button class="question"><b>&#63;</b></button>
        </span>
        <div class="popup" id="uploadPopup">
            <p>
                Вами выбрана колада из <label class="cardsCountLabel">x</label> карт.
            </p>
            <p>
                Загрузите любое количество изображений в разрешении .jpg .jpeg или .png
            </p>
            <ul>
                <li>
                    Если вы загрузите <label class="cardsToUploadLabel">x</label>, то они все окажутся в колоде (по 2 карты с каждым изображением).
                </li>
                <li>
                    Если меньше - оставшиеся карты будут заполнены изображениями из базового набора карт.
                </li>
                <li>
                    Если больше - для карт будут случайно выбраны <label class="cardsToUploadLabel">x</label> из загруженных вами .
                </li>
            </ul>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="uploadFilesForm">
        <form class="form-group">
            <label class="label">
                <i class="material-icons">attach_file</i>
                <span class="title">Добавить изображения</span>
                <input type="file" name="images" id="images" class="formField" accept=".jpg, .jpeg, .png" multiple>
            </label>
        </form>
    </div>
    <button id="gameStartButton" class="formField">Сохранить и начать игру</button>
</div>
<script>
    const cardsCount = localStorage.getItem('cardsCount');
    document.querySelectorAll(".cardsCountLabel").forEach(label => {label.innerHTML = cardsCount;});
    const cardsToUploadCount = cardsCount / 2;
    if (cardsToUploadCount == 4){
        document.querySelectorAll(".cardsToUploadLabel").forEach(label => {label.innerHTML = `${cardsToUploadCount} изображения`;});
    } else {
        document.querySelectorAll(".cardsToUploadLabel").forEach(label => {label.innerHTML = `${cardsToUploadCount} изображений`;});
    }
</script>
<script src="js/uploadCards.js"></script>
</body>
</html>
