* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    width: 99%;
    height: 99%;
    background: #2f2f32;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comic Shanns", cursive;
}

.menu h1, .menu p, .menu label {
    color: white;
    font-family: "Comic Shanns", cursive;
}

.menu h1 {
    font-size: 70px;
}

.menu p, .menu label {
    font-size: 21px;
}

.menu label {
    margin: 10px;
}
.menu #errorMessage {
    opacity: 0;
    background: crimson;
    width: 410px;
    text-align: center;
}

button {
    background: white;
    color: #2f2f32;
    border-radius: 5px;
    border-color: white;
    border-width: 0;
    padding: 7px;
    cursor: pointer;
    width: 300px;
    font-family: "Comic Shanns", cursive;
    font-size: 20px;
    margin: 25px;
}

#defaultModeButton, #customModeButton {
    font-size: 20px;
    margin: 10px;
}

.menu .form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .formField {
    border-radius: 5px;
    border-width: 0;
    border-color: #2f2f32;
    padding: 7px;
    margin: 25px;
    width: 300px;
    font-size: 20px;
    font-family: "Comic Shanns", cursive;
    text-align: center;
}

.menu #cardsCount {
    margin: 10px;
}

.menu #cardsCountDiv, .menu #modeDiv {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu #finishData{
    margin: 25px;
    text-align: center;
}

#finishScore, #finishMoves {
    font-weight: bold;
}

.gameProgress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: "Comic Shanns", cursive;
    width: 514px;
}

.gameProgress label {
    padding: 5px;
}

.board{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

.memoryCard {
    position: relative;
    width: 110px;
    height: 110px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.openedCardImg,
.closedCardImg {
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform .6s linear;
    backface-visibility: hidden;
}

.memoryCard.flipped .openedCardImg {
    transform: rotateY(0);
}

.memoryCard.flipped .closedCardImg {
    transform: rotateY(180deg);
}

.uploadFiles .form-group{padding:1em;margin:1em}
.uploadFiles input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.uploadFiles .label{width:170px; height:170px; border:2px dashed white;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.uploadFiles .label i{display:block;font-size:42px;padding-bottom:16px}
.uploadFiles .label i,.example-1 .label .title{color:white;transition:200ms color;}
.uploadFiles .title {font-family: "Comic Shanns", cursive; font-size: 20px}
.uploadFiles .label:hover{border:2px solid grey}
.uploadFiles .label:hover i,.example-1 .label:hover, .title:hover{color:grey}