* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(80deg, darksalmon 30%, darkcyan, darkblue);
}
.field {
    position: absolute;
    right:50%;
    transform: translate(50%, 2%);
}
.gameProgress{
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}
button {
    background: darksalmon;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Fira Code", fantasy;
}

.board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 20px;
}

.memoryCard {
    position: relative;
    width: 150px;
    height: 120px;
    cursor: pointer;
}

.openedCardImg,
.closedCardImg {
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #1a90ef;
    width: 100%;
    height: 100%;
    transition: transform .6s linear;
    backface-visibility: hidden;
}

.memoryCard.flipped .openedCardImg {
    transform: rotateY(0);
}

.memoryCard.flipped .closedCardImg {
    transform: rotateY(180deg);
}